@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

@font-face {
  font-family: "Against";
  src: url("../public/fonts/against_2/against_regular.otf") format("opentype");
}

@font-face {
  font-family: "Louis Walter";
  src: url("../public/fonts/louis-walter-font/LouisWalterRegular-yYjJV.ttf") format("opentype");
  font-weight: 400;
}

/* General */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #FCF6EA;
  --selection-color: #171819; 
  --selection-bg: #FCF6EA; 
}

::selection {
  color: var(--selection-color);
  background-color: var(--selection-bg);
}


body{
  background-color: #FCF6EA;
}

body::-webkit-scrollbar{
  display: none;
}

.black-background {
  background-color: #171819;
}

.white-background {
  background-color: #FCF6EA;
}

.black-text {
  color: #202022;
}

.white-text {
  color: #FCF6EA;
}

/* NAV BAR */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  backdrop-filter: blur(2px);
  padding: 0.5rem 2.5rem 0.6rem 0.9rem;
  transition: color 0.4s ease-out;
  box-sizing: border-box;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.svglogo path{
  transition: fill 0.4s ease-out;
}

.navlinks{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-2%);
}

#scrollPercentage{
  font-family: "Parkinsans", sans-serif;
  font-size: 1.1rem;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hero Section */
.hero{
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100%;
}

.hero-image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img{
  position: relative;
  width: 82%; 
  object-fit: cover; 
  display: flex;
}

.hero-text{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px 80px 50px;
}

.hero-title {
  font-family: "Against";
  font-size: 2.75rem;
}

.hero-text-style{
  font-family: "Louis Walter";
  font-size: 10rem;
  letter-spacing: 10px;
  width: fit-content;
  display: flex;
  opacity: 0;
  color: #D6DC82;
}

@keyframes fadeInLtr{
  0%{
    transform: translateY(30%);
  }
  40%{
    transform: translateY(-10px);
    opacity: 0.8;
  }  
  75%{
    transform: translateY(5px);
    opacity: 0.9;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.animateLtr{
  animation: fadeInLtr 1.5s ease-in-out 1 forwards; 
}

/* ABOUT-PAGE */
/* ALL CSS is in hscrolls.css */

/* PROJECTS PAGE */
#projects-page{
  padding: 2em 3rem 5rem 3rem;
  justify-self: center;
}

.projects-title{
  font-family: "Faculty Glyphic", sans-serif;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 3rem;
}

.project{
  border: 1px outset #d1d3ab;
  border-radius: 10px;
  padding: 50px 70px;
  display: grid;
  box-shadow: 4px 4px 20px 1px #676953;
}

.project-title{
  font-family: "Faculty Glyphic", sans-serif;
  padding-bottom: 20px;
}

.project-description{
  font-family: "Faculty Glyphic", sans-serif;
  font-size: 1.1rem;
  opacity: 0.7;
  text-align: justify;
  padding-top: 20px;
  list-style-type: "◆ ";
}

/* SKILLS PAGE */
.languages-container{
  display: grid;
  grid-template-columns: 3fr 10fr;
  padding: 9rem 25px 6rem 25px;
}

.langs-title{
  place-self: center;
  font-family: "Against";
  font-size: 1.6rem; 
  position: relative;
  padding: 3px;
}

 .langs-title::before{
  position: absolute;
  content: '';
  background-color: #171819;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 20%;
  opacity: 1;
  transition: width 0.3s ease;
  transform: translateX(-50%);
} 

.langs-title:hover::before{
  width: 100%;
}

.frameworks-container{
  display: grid;
  grid-template-columns: 3fr 10fr;
  column-gap: 10px;
  padding: 6rem 25px 9rem 25px;
}

.fws-title{
  justify-self: center;
  height: fit-content;
  font-family: "Against";
  font-size: 1.6rem;
  position: relative;
  padding: 3px;
}

.fws-title::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 20%;
  height: 2px;
  background-color: #171819;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.fws-title:hover::after {
  width: 100%;
}

.skill-div {
  display: flex;
  place-self: center;
  position: relative; 
}

.skill {
  display: flex;
  transform: translateY(0);
  transition: transform 0.15s ease-in-out;
}

.skill-div:hover .skill {
  transform: translateY(-15px);
}

.skill-div::before {
  content: attr(data-content); 
  position: absolute;
  bottom: -35px; 
  left: 50%;
  transform: translateX(-50%);
  font-family: "Parkinsans";
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.skill-div:hover::before {
  opacity: 1;
  transform: translateX(-50%) translateY(-6px);
}

#languages-list{
  padding: 20px 0;
  max-width: 1536px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  overflow: hidden; 
  position: relative;
  height: 130px;
  mask-image: linear-gradient(to right,
    rgba(0,  0, 0, 0),
    rgba(0, 0, 0, 1) 18%,
    rgba(0, 0, 0, 1) 82%,
    rgba(0, 0, 0, 0));
}

#languages{
  position: absolute;
  animation: scrollLeft 25s linear 0s infinite;
  left: max((100px * 5), 100%);
  transition: transform 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

 @keyframes scrollLeft{
  to{
    left: -100px;
  }
} 

/* CONTACT-PAGE */
#contact-page{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  padding-top: 8rem;
}

#socials{
  width: 95%;
}

.contact-title{
  display: flex;
  flex-direction: column;
  width: 95%;
}

#contact-page h2{
  font-size: 8.5rem;
  font-family: "Faculty Glyphic", sans-serif;
}

.mail-title{
  opacity: 0.9;
}

.mailhead{
  display: flex;
  text-decoration: none;
  place-self: center;
  font-family: "Faculty Glyphic", sans-serif;
  font-size: 1.5rem;
  opacity: 0.8; 
}

.mailhead a{
  text-decoration: none;
  color: #FCF6EA;
}

.mailhead a::before{
  transform: translateY(-2.5px);
}

.linksConatiner{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  border-top: 2px solid #FCF6EA;
  padding: 50px 0;
}

.socialLinks{
  display: flex;
  flex-direction: column;
  place-self: center;
  transform: translateX(-20px);
}

.socials-title{
  font-family: "Faculty Glyphic", sans-serif;
  align-self: center;
  text-align: right;
  opacity: 0.9; 
  font-family: "Against";
  font-size: 0.875rem;
}

.mail-title{
  font-family: "Against";
  place-self: center; 
  transform: translateX(20%);
  font-size: 0.875rem;
}

 .social-link{
  font-family: "Faculty Glyphic", sans-serif;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 5px;
  display: flex;
  color: #FCF6EA;
  opacity: 0.8;
}

.hovered{
  overflow: hidden;
  display: flex;
  position: relative;
  width: fit-content;
}

.hovered a{
  transition: transform 0.19s ease-in-out;
  color: inherit;
}

.hovered a::before{
  content: attr(data-link);
  position: absolute;
  top: 100%;
  transition: top 0.19s ease-in-out;
}

.hovered:hover a{
  transform: translateY(-100%);
}

.hovered:hover a::before{
  top: 110%;
  opacity: 1;
}

/* Footer */
.copyright{
  text-align: center;
  padding: 0 10px 10px 10px;
  font-family: "Parkinsans", sans-serif;
  font-size: 0.875rem;
}
